# to cover style, lint and security checks
bandit==1.7.5
black==23.3.0
flake8==6.0.0
interrogate==1.5.0
isort==5.12.0
mypy==1.2.0
pre-commit==3.2.2

# to cover tests
pytest==7.3.1
pytest-cov==4.0.0
pytest-html==3.2.0
pytest-metadata==2.0.4